body {
  text-align:center;
  width:200px;
}

button{
  width:100%;
  color:black;
  border-width:0px;
  border-radius:20px;
  padding:5px;
  font-weight: bold;
  cursor:pointer;
}

button:hover{
  background-color:grey;
}

button:active{
  background-color:green;
}

p {
  font-size: 11px;
  font-style: italic;
}